<html>
    <head>
        <title>
            
        </title>
    </head>
    <body>
        <h3>
            @ViewBag.PageTitle
        </h3>

        <div>
            姓名：@ViewBag.Student.Name
        </div>

        <div>
            邮箱：@ViewBag.Student.Email
        </div>

        <div>
            主修科目：@ViewBag.Student.Major
        </div>
    </body>
</html>

