@using MockSchoolManagement.Models
<html>
    <head>
        <title>
            
        </title>
    </head>
    <body>
        <h3>
            @ViewData["PageTitle"]
        </h3>

        @{
        var student = ViewData["Student"] as Student;}

        <div>
            姓名：@student.Name
        </div>

        <div>
            邮箱：@student.Email
        </div>

        <div>
            主修科目：@student.Major
        </div>
    </body>
</html>

